<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% block nav %}
        {% if user.is_authenticated %}


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> -->
            </button>
            <div  id="navbarNavAltMarkup">
              <div class="navbar-nav">
                {% if user.is_superuser %}
                <a class="nav-item nav-link active" href="{% url 'InviteCodeView' %}">Invite Code</a>
                {% endif %}
                <a class="nav-item nav-link active" href="{% url 'agentselect' %}" href="#">agents <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'output' %}">output</a>
                <a class="nav-item nav-link active" href="{% url 'ViewFileTransfer' %}" >File Transfer history</a>
                <a class="nav-item nav-link active" href="{% url 'logout' %}">logout</a>
              </div>
            </div>
          </nav>
<!-- 
        <ul id="nav">
            <li>{% block nav-agentselect %}<a href="{% url 'agentselect' %}">agents</a>{% endblock %}</li>
           <li>{% block nav-output %}<a href="{% url 'output' %}">output</a>{% endblock %}</li>
            <li>{% block nav-ViewFileTransfer %}<a href="{% url 'ViewFileTransfer' %}">File Transfer history</a>{% endblock %}</li> 
            <li>{% block nav-logout %}<a href="{% url 'logout' %}">logout</a>{% endblock %}</li> -->
            {% else %}
            {% endif %}
        </ul>
        {% endblock %}
        
        {%block content %}
        {% endblock %}
    </body>
</html>
